<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4netConfigurationSectionHandler,log4net, version=1.2.10.0,      Culture=neutral,PublicKeyToken=1b44e1d426115821" />
	</configSections>
	<!-- Log4net logging setup  -->
	<log4net>
		<appender name="RollingFileAppenderEventLogs" type="log4net.Appender.RollingFileAppender">
			<file value="\\QANOC-FP01.ALS.LOCAL\home-noc-1$\EXSAH101\Desktop\logs\Events\events.log" />
			<rollingStyle value="Size" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO"/>
				<levelMax value="INFO"/>
			</filter>
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="50MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="RollingFileAppenderErrorLogs" type="log4net.Appender.RollingFileAppender">
			<file value="\\QANOC-FP01.ALS.LOCAL\home-noc-1$\EXSAH101\Desktop\logs\Errors\error.log" />
			<rollingStyle value="Size" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR"/>
				<levelMax value="ERROR"/>
			</filter>
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="50MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingFileAppenderEventLogs" />
			<appender-ref ref="RollingFileAppenderErrorLogs" />
			<!--<level value="ERROR"/>-->
		</root>
	</log4net>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>

		<!-- Source AF Server Name -->
		<add key="afserver" value="NOC-PIAF PreProd"/>
		<!--//"QAMV2-SAPP506" />-->
		<!-- AF Database Name -->
		<add key="afdatabase" value="DEMO - DDP Integration Hierarchy" />
		<!-- AF Template Name -->
		<add key="aftemplate" value="PITag_Template_1,PITag_Template_2,PITag_Template_3,PITag_Template_4,PITag_Template_5,PITag_Template_6" />
		<!-- Attributes from the template supporting datapipes -->
		<add key="attriblist" value="Value" />
		<!-- Azure EventHub Connection String -->
		<!--
		<add key="EventHubConnString" value="Endpoint=sb://pidataeh.servicebus.windows.net/;SharedAccessKeyName=pidataowner;SharedAccessKey=t8tuAIA0eR2lKYk/uC1Ya3cE1nCkqiDbV+AEhFahJ0s=;EntityPath=pieh" />-->
		<!-- Azure Event Hub Name -->
		<add key="EventHubName" value="pi_sensor_reading"/>
		<!--"app-pi-azureeventhub-ddp-dev" /> // pi_sensor_reading-->
		<!-- Azure Event Hub Client Id -->
		<add key="ClientId" value="3be6eb54-c0ef-4b94-8477-d6f0c13dea9e"/>
		<!-- Azure Event Hub Client Secret -->
		<add key="ClientSecret" value="6CC8Q~D6-WGzEtuut9B02tikAM0cLL2X2G~Y1a-j"/>
		<!-- Azure Event Hub Tenant Id -->
		<add key="TenantId" value="4f284310-86f4-4520-8f32-283defd0fc7d"/>
		<!-- fullyQualifiedNamespace-->
		<add key="EhNameSpace" value="weuaz-eh-ddp-301.servicebus.windows.net"/>
		<!-- Azure Event Hub compression -->
		<add key="compression" value="None" />
		<!-- PI System polling Frequency for AFDatapipes in Seconds -->
		<add key="sendschedule" value="5" />

		<!-- Timezone in UTC or Local -->
		<add key="timezone" value="Local" />
	</appSettings>


	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.30.0.0" newVersion="1.30.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>